" Set up LSP for YAML
au FileType yaml setlocal omnifunc=v:lua.vim.lsp.omnifunc
let g:lsp_yaml_server_command = 'yaml-language-server'
let g:lsp_yaml_server_args = ['--stdio']
au User lsp_setup call lsp#register_server({
    \ 'name': 'yaml-language-server',
    \ 'cmd': {server_info->['node', g:lsp_yaml_server_command] + g:lsp_yaml_server_args},
    \ 'allowlist': ['yaml'],
    \ })

